<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Followers Situation</title>
</head>
<body>
    {% if followers %}
    <ul>
        {% for follower in followers %}
        <li> <a href="https://twitter.com/{{ follower.screen_name }}" target="_blank">{{ follower.name }}</a> - am I following? <b>{{ follower.following }}</b> followers count:{{ follower.followers_count }} - Statuses count: {{ follower.statuses_count }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>